* {
    box-sizing: border-box;
}

html {
    font-size: 24px;
}

body {
    font-family: Open Sans, sans-serif;
}

.bold {
    font-weight: 800;
}

header h1 {
    text-align: center;
    margin: -4px 0;
    letter-spacing: 0.15px;
}

p {
    margin: 0;
}

.label {
    width: 420px;
    margin: 20px auto;
    padding: 0 7px;
    border: 2px solid black;
}

.divider {
    margin: 2px 0;
    border-bottom: 1px solid #888989;
    clear: right;
}

.right {
    float: right;
}

.lg {
    height: 10px;
}

.lg,
.md {
    background-color: black;
    border: 0;
}

.md {
    height: 5px;
}

.sm-text {
    font-size: 0.85rem;
}

.calories-info h1 {
    margin: -5px -2px;
    overflow: hidden;
}

.calories-info span {
    font-size: 1.2em;
    margin-top: -7px;
}

.indent {
    margin-left: 1em;
}

.daily-value p:not(.no-divider) {
    border-bottom: 1px solid #888989;
}
